<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!--    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdminServlet</servlet-name>
        <servlet-class>servlets.addAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGarageHandler</servlet-name>
        <servlet-class>servlets.AddGarageHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveGarageHandler</servlet-name>
        <servlet-class>servlets.RemoveGarageHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEmployeeServlet</servlet-name>
        <servlet-class>servlets.updateEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAdminServlet</servlet-name>
        <servlet-class>servlets.RemoveAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignAdminServlet</servlet-name>
        <servlet-class>servlets.AssignAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>servlets.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileHandler</servlet-name>
        <servlet-class>servlets.UpdateProfileHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationHandler</servlet-name>
        <servlet-class>servlets.UserRegistrationHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clientLoginHandler</servlet-name>
        <servlet-class>servlets.clientLoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNearestGarages</servlet-name>
        <servlet-class>servlets.getNearestGarages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsHandler</servlet-name>
        <servlet-class>servlets.ReportsHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportHandler</servlet-name>
        <servlet-class>servlets.ReportHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportInitializer</servlet-name>
        <servlet-class>servlets.ReportInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTester</servlet-name>
        <servlet-class>servlets.SessionTester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailChecking</servlet-name>
        <servlet-class>servlets.EmailChecking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GarageNameCheck</servlet-name>
        <servlet-class>servlets.GarageNameCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveAdminInitializer</servlet-name>
        <servlet-class>servlets.RemoveAdminInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignAdminHandler</servlet-name>
        <servlet-class>servlets.AssignAdminHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSlotInitializer</servlet-name>
        <servlet-class>servlets.UpdateSlotInitializer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailedReportInitializer</servlet-name>
        <servlet-class>servlets.DetailedReportInitializer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addAdminServlet</servlet-name>
        <url-pattern>/addAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAdminServlet</servlet-name>
        <url-pattern>/RemoveAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignAdminServlet</servlet-name>
        <url-pattern>/AssignAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGarageHandler</servlet-name>
        <url-pattern>/AddGarageHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveGarageHandler</servlet-name>
        <url-pattern>/RemoveGarageHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEmployeeServlet</servlet-name>
        <url-pattern>/updateEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileHandler</servlet-name>
        <url-pattern>/UpdateProfileHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationHandler</servlet-name>
        <url-pattern>/UserRegistrationHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clientLoginHandler</servlet-name>
        <url-pattern>/clientLoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNearestGarages</servlet-name>
        <url-pattern>/getNearestGarages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsHandler</servlet-name>
        <url-pattern>/ReportsHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportHandler</servlet-name>
        <url-pattern>/ReportHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportInitializer</servlet-name>
        <url-pattern>/ReportInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTester</servlet-name>
        <url-pattern>/SessionTester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailChecking</servlet-name>
        <url-pattern>/EmailChecking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GarageNameCheck</servlet-name>
        <url-pattern>/GarageNameCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveAdminInitializer</servlet-name>
        <url-pattern>/RemoveAdminInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignAdminHandler</servlet-name>
        <url-pattern>/AssignAdminHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSlotInitializer</servlet-name>
        <url-pattern>/UpdateSlotInitializer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailedReportInitializer</servlet-name>
        <url-pattern>/DetailedReportInitializer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.container.servlet.ServletContainer
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>webservices</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <error-page>
        <exception-type>exceptions.CurrentClientNotAvailable</exception-type>
        <location>/login.jsp</location>
    </error-page>
    <error-page>
        <exception-type>exceptions.SessionException</exception-type>
        <location>/invalidsession.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <description>I can get number of sessions through MySessionListener.getSessionCount</description>
        <listener-class>
            listeners.MySessionListener
        </listener-class>
    </listener>
    <listener>
        <description>I used this listener to connect to the database when the applications starts</description>
        <listener-class>
            listeners.StartupListener
        </listener-class>
    </listener>
</web-app>
